<ion-header >
  <ion-toolbar class="background-header">
    <ion-title>Juntas receptoras del voto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content slot="fixed" class="background-image">
  <ion-toolbar class="toolbar">
    <ion-buttons slot="end">
      <ion-icon (click)="resetlogin()" name="refresh"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon (click)="login()" name="log-out"></ion-icon>
    </ion-buttons>
  </ion-toolbar>  
  <ion-text class="encabezado">
    <h4>Provincia: {{provincia}}</h4>
    <h4 *ngIf="distrito">Distrito: {{distrito}}</h4>
    <h4>Cantón: {{canton}}</h4>
    <h4>Paroquia: {{parroquia}}</h4>
    <h4>Recinto: {{recinto}}</h4>
  </ion-text>
  <div class="juntas">
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 1 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    <ion-item-divider>
      <ion-button>Junta 2 F</ion-button>
      <ion-buttons slot="end">
        <ion-icon slot="start" name="star"></ion-icon>
        <ion-icon slot="end" name="star"></ion-icon>
      </ion-buttons>
    </ion-item-divider>
    

  </div>
</ion-content>
